{% extends '_base.html' %}

{% block content %}
<div class="greeting">
    <div class="container">
        <div class="page-body">
            <div class="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">

                            <h1 class='title'>Все посты</h1>
                            <hr>
                            <hr>
                            {% include '_flash_error.html' %}
                            <!-- Тело поста-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card-deck">
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Новая коллекция нижнего белья для
                                                        кукол <a
                                                                href="post.html">Fashion Roalty</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i> <a
                                                            href="#">Fashion
                                                        Royalty</a></li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Букет Нарциссов, <a
                                                            href="post.html">миниатюра
                                                        для кукольного
                                                        дома</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i>
                                                        Miniature Flowers
                                                    </li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Новая коллекция нижнего белья для
                                                        кукол <a
                                                                href="post.html">Fashion Roalty</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i> <a
                                                            href="#">Fashion
                                                        Royalty</a></li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-3"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card-deck">
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Новая коллекция нижнего белья для
                                                        кукол <a
                                                                href="post.html">Fashion Roalty</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i> <a
                                                            href="#">Fashion
                                                        Royalty</a></li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Букет Нарциссов, <a
                                                            href="post.html">миниатюра
                                                        для кукольного
                                                        дома</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i>
                                                        Miniature Flowers
                                                    </li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Новая коллекция нижнего белья для
                                                        кукол <a
                                                                href="post.html">Fashion Roalty</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i> <a
                                                            href="#">Fashion
                                                        Royalty</a></li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-3"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card-deck">
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Новая коллекция нижнего белья для
                                                        кукол <a
                                                                href="post.html">Fashion Roalty</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i> <a
                                                            href="#">Fashion
                                                        Royalty</a></li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Букет Нарциссов, <a
                                                            href="post.html">миниатюра
                                                        для кукольного
                                                        дома</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i>
                                                        Miniature Flowers
                                                    </li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card" style="width: 12rem;">
                                                <a href="post.html"><img class="card-img-top" src="img/seva.jpg"
                                                                         alt="Card image cap"></a>
                                                <div class="card-body">
                                                    <h6 class="card-title poppy-color">Новая коллекция нижнего белья для
                                                        кукол <a
                                                                href="post.html">Fashion Roalty</a></h6>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><i class="far fa-list-alt icon"></i> <a
                                                            href="#">Fashion
                                                        Royalty</a></li>
                                                    <li class="list-group-item"><i class="fas fa-calendar-alt icon"></i>
                                                        <small class="text-muted"> 01.02.2020</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-3"></div>
                                <!--пагинация-->
                                <nav>
                                    <div class="my-pagination">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="#"
                                                >Previous</a>
                                            </li>
                                            <li class="page-item active" aria-current="page"><a class="page-link"
                                                                                                href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>


                            </div>
                        </div>
                        {% include '_right_block_blog.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}