{% extends '_base.html' %}
<!--промо страницы-->
{% block content %}
<div class="greeting">
    <div class="content">
        <div class="container">
            <!-- Post -->
            <div class="page-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <!--Заголовок-->
                            <h1 class='title'>{{ post_title }}</h1>
                            <hr>
                            <p>Posted on {{ moment(post.date).format('LLL') }} </p>
                            <hr>
                            <hr>
                            {% include '_flash_error.html' %}
                            <div class="post-body">
                                {{ post_body | safe}}
                                <!-- Тело поста-->
                            </div>
                            <!--теги-->
                            <div class="tags">
                                <p><i class="fas fa-tags tags"></i>
                                    {% for tag in tags %}
                                    <a href="#"> {{ tag }}, </a>
                                    {% endfor %}
                                </p>
                            </div>
                            <!--рубрика-->
                            <div class="rubric">
                                <hr>
                                <h6 class="lead"> Рубрика: <a class="category" href="#">{{ post_rubric }}</a></h6>
                                <hr>
                            </div>
                            <!-- навигация следующий/предыдущий пост-->
                            <div class="next-post">
                                <div class="container">

                                    <div class="row">

                                        <div class="col-6 text-left">

                                            <a href="post.html">Заголовок (предыщуший) пост</a>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="post.html">Заголовок (ледующий) пост</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Comments Form -->
                            <div class="card my-4">
                                <a class="btn" data-toggle="collapse"
                                   data-target="#collapseCommentForm" aria-expanded="true"
                                   aria-controls="#collapseCommentForm">
                                    <span class="category"> Оставить комментарий</span>
                                </a>
                                <div class="collapse" id="collapseCommentForm">
                                    <div class="card-body">
                                        {% include 'forms/_comments.html' %}
                                    </div>
                                </div>
                            </div>

                            <!-- комментарии -->
                            <div class="comments">
                                <a href="mailto:#"><h6>Вася Пупкин</h6></a>
                                <p>Афтар пищи исчоо!</p>
                                <hr>
                                <hr>
                            </div>
                            <div class="comments">
                                <a href="mailto:#"><h6>Иван Иванов</h6></a>
                                <p>красиво!</p>
                                <hr>
                                <hr>
                            </div>
                        </div>

                        {% include '_right_block_blog.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
