

        <form name="add_rubric" action="/add_rubric" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Название рубрики">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <input type="submit" class="btn btn-secondary" value="Добавить" id="submit">
                        </div>
                    </div>

                </div>
            </div>
        </form>

