<form name="add_jumbo" action="/add_jumbo" method="post">
    <div class="container">

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('jumbo_title') }}">
                        <label for="jumbo_title">Заголовок</label>
                        <input type="text" class="form-control" id="jumbo_title" name="jumbo_title"
                               placeholder="Заголовок" value="{{ jumbo_title }}" target="_blank">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('emphasis') }}">
                        <label for="emphasis">Основная мысль</label>
                        <textarea class="form-control" id="emphasis" name="emphasis"
                                  rows="3">{{ emphasis }} </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('text') }}">
                        <label for="text"> Текст</label>
                        <textarea class="form-control" id="text" name="text"
                                  rows="5">{{ text }} </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('img_link') }}">
                        <label for="img_link">Cсылка</label>
                        <input type="text" class="form-control" id="img_link" name="img_link"
                               placeholder="Ссылка на картинку" value="{{ img_link }}">
                    </div>

                </div>
            </div>
        </div>
                <div class="row">

            <div class="col">
                <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               placeholder="id" value="{{ id }}" disabled>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">

            <div class="col">
                <div class="form-group">
                    <input type="submit" name="save" value="Сохранить"
                           onclick="return confirm('Сохранить?');">

                    <input type="submit" name="preview" value="Предпросмотр"
                           formtarget=”_blank”>



                </div>
            </div>

        </div>
    </div>

</form>