<form name="manage_jambo" action="/manage_jambo" method="post">
    <div class="container">

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('title') }}">
                        <label for="title">Заголовок</label>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Заголовок" value="{{ title }}">
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('emphasis') }}">
                        <label for="emphasis">Основная мысль</label>
                        <textarea class="form-control" id="emphasis" name="emphasis"
                                  rows="3">{{ emphasis }} </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('text') }}">
                        <label for="text"> Текст</label>
                        <textarea class="form-control" id="text" name="text"
                                  rows="5">{{ text }} </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <div class="{{ has_error('img_link') }}">
                        <label for="img_link">Cсылка</label>
                        <input type="text" class="form-control" id="img_link" name="img_link"
                               placeholder="Заголовок" value="{{ img_link }}">
                    </div>

                </div>
            </div>
        </div>


        <div class="row">

            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary" id="submit">
                        Сохранить
                    </button>
                </div>
            </div>

        </div>
    </div>

</form>