<form name="login"  action="/auth" method="post">
    <div class="container">

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="login">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">

                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                </div>
            </div>

            <div class="col-3">

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary" id="submit"> Войти</button>
                </div>
            </div>
        </div>
    </div>
</form>