<form name="registration" action="/registration" method="post">
    <div class="container">

        <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <div class="{{ has_error('username') }}">
                        <label for="username">Логин</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="username" value="{{ username }}"></div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="name" value="{{ name }}">
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <div class="{{ has_error('email') }}">
                        <label for="email">Почта</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="email" value="{{ email }}">
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <div class="{{ has_error('password') }}">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password"
                               name="password"
                               placeholder="password" value="{{ password}}">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary" id="submit">
                        Зарегистрироваться
                    </button>
                </div>
            </div>

        </div>

    </div>

</form>