<!--Правая колонка с виджетами и навигацией-->
<div class="col-lg-3">
    <!-- Search Form -->
    <div class="search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="search" name="search"
                       placeholder="Искать">
                <button type="submit" class="btn btn-secondary">Ok!</button>
            </div>
        </form>
    </div>
    <!-- меню с рубриками -->
    <div class="rubrics">
        <div class="card my-4">
            <h5 class="card-header">Рубрики</h5>
            <div class="card-body">
                <ul class="list-unstyled categories">
                    <li>
                        <a href="#">FASHION ROYALTY</a>
                    </li>
                    <li>
                        <a href="#">SYBARITE DOLLS</a>
                    </li>
                    <li>
                        <a href="#">MOMOKO DOLLS</a>
                    </li>
                    <li>
                        <a href="#">ОДЕЖДА ДЛЯ КУКОЛ</a>
                    </li>
                    <li>
                        <a href="#">МИНИАТЮРНАЯ ФЛОРИСТИКА</a>
                    </li>
                    <li>
                        <a href="#">Психология</a>
                    </li>
                    <li>
                        <a href="#">Фотосериал</a>
                    </li>
                    <li>
                        <a href="#">Tutorials</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SUBSCRIBE Form -->
    <div class="subscribe">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="subscribe" name="subscribe"
                       placeholder="Подписаться">
                <button class="btn btn-secondary" type="submit">Ok!</button>
            </div>
        </form>
    </div>
    <!-- Карточка-->
    <div class="card my-4">
        <h5 class="card-header">Популярноое</h5>
        <div class="card-body">
        </div>
    </div>
    <!-- просто отбивка -->
    <div class="something-text">
        <hr>
        Какой нибудь текст или облако тегов
        <hr>
    </div>
</div>