{% extends '_base.html' %}

{% block content %}
<div class="greeting">
    <div class="container">
        <div class="page-body">
            <div class="static">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">

                            <h1 class='title'>Редактировать рубрики</h1>
                            <hr>
                            {% include '_flash_error.html' %}

                            <div class="form">
                                <div class="container">
                                    {% include 'forms/_add_rubric.html' %}
                                </div>
                            </div>


                            <div class="form">
                                <div class="container">
                                    <p>
                                        {% include 'forms/_edit_rubrics.html' %}
                                    </p>
                                </div>
                            </div>



                        </div>
                        {% include '_right_block_static.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}