{% extends '_base.html' %}
{% macro has_error(field_name) %}
{%- if field_with_error == field_name %} has-error {% endif -%}
{%- endmacro %}

{% block content %}
<div class="greeting">
    <div class="container">
        <div class="page-body">
            <div class="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">

                            <h1 class='title'>{{ page_title }}</h1>
                            <hr>
                            {% include '_flash_error.html' %}
                            <div class="form">
                                {% include 'forms/_add_post.html' %}

                            </div>





                            {% include '_right_block_static.html' %}

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}